@{
    ViewBag.Title = "Ihre Bestellung wurde bearbeitet";
}

<h2>Vielen Dank!</h2>
<p>Wir sind dankbar, dass Sie unseren Shop ausgewählt haben. Ihre Bestellung wird bald bearbeitet und abgesendet werden.</p>
